.ProjectCard {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-size: 150%;
    background-position: center;
    aspect-ratio: 3/2;
    width: 100%;
    border: 3px solid #ffd000;
    text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}

.Title {
    text-align: center;
}

.Column {
    padding: 1.5rem;
    width: 100%;
}

@media screen and (min-width: 992px) {
    .Column {
        width: 50%;
    }
}

@media screen and (min-width: 1400px) {
    .Column {
        width: calc( 100% / 3 );
    }
}

@media screen and (min-width: 1650px) {
    .Column {
        width: 25%;
    }
}