.Navigation {
    background-color: #09445d;
    color: #ebebeb;
    top: 100px;
    width: 100vw;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    flex-direction: column;
}

.Button, .Selected {
    background-color: #135ea4;
    border-color: #ffd000;
    border-width: 3px;
    color: #ebebeb;
    padding: 15px 32px;
    text-align: center;
    font-size: 23px;
    cursor: pointer;
    margin: 3px;
}

.Selected {
    border-color: #3c1a02;
}


@media screen and (min-width: 600px) {
    .Navigation{ flex-direction: row};
}