.Navigation {
    background-color: #09445d;
    color: #ebebeb;
    top: 100px;
    width: 100vw;
    display: flex;
    justify-content: flex-end;
}

.Button, .Selected {
    background-color: #135ea4;
    border-color: #ffd000;
    border-width: 3px;
    color: #ebebeb;
    padding: 15px 32px;
    text-align: center;
    display: flex;
    font-size: 23px;
    cursor: pointer;
    margin: 3px;
}