.Footer {
    background-color: #135ea4;
    bottom: 0;
    width: 100%;
    z-index: 1;
    align-items: flex-end;
    display: flex;
    justify-content: center;
}

a {
    text-align: center;
    display: inline;
    align-items: center;
    padding: 10px;
    text-decoration: none;
    color: #ebebeb;
}